{% extends 'board/base.html' %}
{% load crispy_forms_tags %}
 {% block nav%}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <a class="navbar-brand" href="/">Home </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
         {% if user.is_superuser %}
          <a class="nav-link active" aria-current="page" href="/admin">Manage Blog</a>
        {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cat' category.id %}">go back to posts</a>
        </li>
       {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="text-success">{{user.username}}</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">My Acount</a>
                <a class="dropdown-item" href="logout/">Logout</a>
                <a class="dropdown-item" href="#">Change Password</a>
          </div>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="login/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="signup/">Sign Up</a>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>
  {% endblock %}

{% block content %}
<div class="Container ">
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item" >
       <a class="link-warning" href="{% url 'index' %}" >
      Categories
       </a>
    </li >
    <li class="breadcrumb-item active">
        <a class="link-warning" href="{% url 'cat' category.id %}" >
            {{category.name}}
        </a>
    </li>
       <li class="breadcrumb-item active">
     New Post
    </li>
  </ol>
</div>


<div class="w-100 d-flex justify-content-center">
    <form class="blueForms" id="id-exampleForm" method="post" enctype="multipart/form-data">
       {% csrf_token %}
       <div class="text-center ">
              {{form.title|as_crispy_field}}
              {{form.post_pictures|as_crispy_field}}
              {{form.content|as_crispy_field}}
              <button class="col-lg-3 btn btn-dark" type="submit">Post</button>
          </div>
    </form>


</div>
{% endblock %}